<section class="container">
  <header class="header">
    <section class="row">
      <article class="column">
        <img class="img"
          src="https://t2.uc.ltmcdn.com/es/posts/8/0/0/como_calcular_la_diagonal_de_un_cuadrado_40008_paso_1_600.webp"
          alt="perfil">
      </article>
      <article class="column">
        <h1 class="profile-name">Profile name</h1>
        <p>245 Blackfriars Road</p>
        <p>Ludgate House</p>
        <p>London, SEI 9UY</p>
        <p class="enlace">Email: firstname@surname.com</p>
        <p>Telephone: 0207 955 3705</p>
      </article>
      <article class="column">
        <h1 class="categories">Categories</h1>
        <p>Lorem ipsum</p>
        <p>Lorem ipsum</p>
        <p>Lorem ipsum</p>
        <p>Lorem ipsum</p>
      </article>
    </section>
  </header>

  <body>
    <p>Dedicado y apasionado profesional con una trayectoria destacada en ayudar a los demás a alcanzar la felicidad y el
      bienestar personal. A lo largo de mi carrera, he desarrollado habilidades efectivas para promover un ambiente
      positivo y motivador, brindando apoyo emocional y creando experiencias significativas para las personas que he
      tenido la oportunidad de acompañar. Mi enfoque se basa en una comunicación clara, empatía genuina y un profundo
      compromiso con el bienestar y la felicidad de los demás. </p>
    <p>Profesional altamente especializado en el campo del descanso y el sueño reparador. A lo largo de mi carrera, he
      dedicado mi tiempo y esfuerzo a la investigación y la promoción de prácticas de sueño saludables, así como a
      proporcionar asesoramiento personalizado para mejorar la calidad del sueño de los individuos. Mi enfoque se basa en
      la comprensión profunda de la importancia del descanso y su impacto en la salud y el bienestar general.</p>
  </body>
  <footer class="footer">
    <section class="row">
      <article class="column">
        <img class="img border_Black"
          src="https://www.shutterstock.com/image-vector/modern-video-player-design-template-260nw-762468289.jpg"
          alt="elemento multimedia">
      </article>
      <article class="column border_Black">
        <img class="imagen_foot" src="https://t2.uc.ltmcdn.com/es/posts/8/0/0/como_calcular_la_diagonal_de_un_cuadrado_40008_paso_1_600.webp" alt="Imagen 2">
        <img class="imagen_foot" src="https://t2.uc.ltmcdn.com/es/posts/8/0/0/como_calcular_la_diagonal_de_un_cuadrado_40008_paso_1_600.webp" alt="Imagen 3">
        <img class="imagen_foot" src="https://t2.uc.ltmcdn.com/es/posts/8/0/0/como_calcular_la_diagonal_de_un_cuadrado_40008_paso_1_600.webp" alt="Imagen 4">
        <img class="imagen_foot" src="https://t2.uc.ltmcdn.com/es/posts/8/0/0/como_calcular_la_diagonal_de_un_cuadrado_40008_paso_1_600.webp" alt="Imagen 5">
      </article>
      <article class="column border_Black">
        <h1 class="categories">Attachments</h1>
        <p class="enlace">Lorem ipsum</p>
        <p class="enlace">Lorem ipsum</p>
        <p class="enlace">Lorem ipsum</p>
        <p class="enlace">Lorem ipsum</p>
      </article>
    </section>
  </footer>
</section>  
<router-outlet></router-outlet>